My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        32
      ],
      "id": "0278e672-dd01-4a2b-8c6a-7ffeb322e1b1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"internships\": [\n    {\n      \"company\": \"Google\",\n      \"role\": \"Software Engineer Intern\",\n      \"location\": \"Bangalore\"\n    },\n    {\n      \"company\": \"Microsoft\",\n      \"role\": \"Cybersecurity Intern\",\n      \"location\": \"Hyderabad\"\n    },\n    {\n      \"company\": \"Amazon\",\n      \"role\": \"AI/ML Intern\",\n      \"location\": \"Chennai\"\n    },\n    {\n  \"company\": \"NVIDIA\",\n  \"role\": \"AI Research Intern\",\n  \"location\": \"Hyderabad\"\n}\n  ]\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        32
      ],
      "id": "02383331-a623-4bdb-919f-239f2c8f9fd5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this internship:\n\nCompany: {{ $json.internships[3].company }}\n\nRole: {{ $json.internships[3].role }}\n\nLocation: {{ $json.internships[3].location }}\n\nGive:\n1. Company Name\n2. Role\n3. Location\n4. Match Score out of 100 for a Computer Science student interested in AI, Python, C++, and Cybersecurity\n5. Required Skills\n6. Recommendation",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        32
      ],
      "id": "00cc2b84-38fe-4248-add4-b41f3a38be80",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        240
      ],
      "id": "6ee9e710-5461-4d4c-af70-19ab03a004f5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sUyRxeXqU6lISj5K",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1ef64f1-652d-44da-9215-59f4d196cf6b",
              "name": "email_subject",
              "value": "Daily Internship Analysis Report",
              "type": "string"
            },
            {
              "id": "95b20ded-547b-49a6-ae3c-0af29f4bf2f1",
              "name": "email_body",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        32
      ],
      "id": "30d3cebb-cf68-4e30-845d-5bd3fa23d1c0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        32
      ],
      "id": "52408767-8f51-425c-95a1-1b973a2c8c3b",
      "name": "Create a draft",
      "webhookId": "af1eb249-a41a-4bfa-85e8-449f50d7f339",
      "credentials": {
        "gmailOAuth2": {
          "id": "w5dQRoPIUM8Uu69Q",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b2234cd3-0868-4ee7-98a1-162b4c174e9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e083e310e078ceffe5c3871602d6934ce0c78799a894aca0e7aaecbacdf8c16"
  },
  "nodeGroups": [],
  "id": "XxpkJijCAnrNuUIH",
  "tags": []
}